/*
==================================================
General CSS 
==================================================
*/

* {
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
  width: 100vw;
}

h1{
  text-align: center;
}

/*
==================================================
Navbar CSS 
==================================================
*/

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	color: #34495e;
	text-decoration: none;
  padding: 0px;
}
.logo {
	margin: 0;
	font-size: 1.45em;
  width: 100px;
  display: block; /*remove the anchor bottom padding*/
}
.main-nav {
	margin-top: 5px;
}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
	color: #34495e;
	font-size: .99em;
  margin-right: 15px
}
.main-nav a:hover {
	color: #718daa;
  background-color: white;
}
.header {
  width: 100vw;
  position: fixed;
  z-index: 1000;
	border: 1px solid #a2a2a2;
	background-color: #0095FF;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}



.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*
==================================================
Carousel CSS 
==================================================
*/

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
}
/* get rid of the inate padding, margin and style the base ul element has*/
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide{
  position: absolute;
  inset: 0; /* so called the margin to the left, right, top and bottom of the element is 0px */
  opacity: 0;
}
/* CSS to show only one active image*/
.slide[data-active]{
  opacity: 1;
}
/* > means select all img element where the parent element has "slide"*/
/* need to work on css for this as I have to readjust all image to fit a certain dimension*/
.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.carousel-button {
  background: none;
  border: none;
  font-size: 4rem;
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  background-color: rgba(0, 0, 0, .1);/*rgba is rgb + opacity(4th value)*/
  /*positioning*/
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 2; /* to appear in-front of the image*/
}
/* focus is just helping accesibility for people pressing tab/onclick*/
.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2); /*rgba is rgb + opacity(4th value)*/
}
.carousel-button:focus {
  outline: 1px solid black;
}
/*.class1.class2 highlight element with both class1 and class2*/
.carousel-button.previous {
  left: 1rem;
}
.carousel-button.next {
  right: 1rem;
}

/* 
==================================== 
Main div
==================================== 
*/
#image, #image-overlay{
  width: 100%;
}
.welcome-message{
  position: absolute;
  z-index: 2;
  width: 25%;
  height: 50%;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 5%;
  font-size: 50px;
  font-weight: bolder;
}
#image-overlay{
  position:absolute; 
  /* the non-overlay part*/
  clip: rect(0px,200px,100%,0px); /*<top>, <right>, <bottom>, <left>*/
  -webkit-clip-path: inset(0px 0px 0px 100%);
  clip-path: inset(0px 0px 0px 100%);
  }
#image{
  mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%); /*same as -webkit-mask-image*/
  -webkit-mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 100%);
}

/* 
==================================== 
Meet us
==================================== 
*/

h1.meet-us{
  text-align: left;
  border-bottom: 3px solid black;
  font-size: 48px;
}

#meet-us{
  padding-left: 5%;
  padding-right: 5%;
}

#editor, #writer{
  width: 48%;
  background-color: #0095FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  background-color: #EED9C4;
}

#editor:hover{
  border:black solid 3px;
}

#writer:hover{
  border: 3px black solid;
}

#editor-photo, #writer-photo{
  width: 100px;
  border-radius: 50%;
  margin-top: 100px;
}

.meet-us-card-wrapper{
  display: flex;
  justify-content: space-between;
}

/* 
==================================== 
Blog Post
==================================== 
*/

#blog-post{
  padding-left: 5%;
  padding-right: 5%;
}

h1.blog-post{
  text-align: left;
  border-bottom: 3px solid black;
  font-size: 48px;
  margin-bottom: 10px;
}

.blog{
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  border-bottom: 2px solid gray;

}

.blog-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.blog span,div,button{
  margin-bottom: 4px;
}

.blog button{
  padding: 0;
  border: none;
  background: none;
  font-size: 24px;
  width: 5%;
}

/* 
==================================== 
Music
==================================== 
*/

h1.music{
  text-align: left;
  border-bottom: 3px solid black;
  font-size: 48px;
}

#music{
  padding-left: 5%;
  padding-right: 5%;
}

.music-wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.card {
	width: 190px;
	height: 180px;
	margin: 15px;
	position: relative;
	min-width: 190px;
	background: #000;
}

.card:hover .overlayer {
	visibility: visible;
}
.card img {
	width: 100%;
	height: 100%;
}
.card .title  {
	width: 100%;
	height: 30px;
	text-align: center;
	margin-top: 180px;
}

.card .title a {
	top: -175px;
	color: #fff;
	position: relative;
	font-size: 13px;
	text-decoration: none;
}

.card .overlayer {
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.6);
	text-align: center;
	visibility: hidden;
}

.overlayer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayer img.play-button {
	width: 50px;
  height: 50px;
}
.fa-play-circle:hover {
	transform: scale(1.1);
}


/* 
==================================== 
Media Queries
==================================== 
*/

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: row;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}